html,
body {
	min-height: 100%;
	height: 100%;
}
body {
	/* background: var(--main-color); */
	font-family: Helvetica, Arial, sans-serif;
}

.text-container {
	background: #fff;
	max-width: 800px;
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn {
	box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

a {
	text-decoration: none;
	color: #fff;
}

.btn-dark:hover {
	background-color: #800020 !important;
}
